@CHARSET "ISO-8859-1";

body {
	background-color: #FFFFCC;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
}

a {
	color: #330000;
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 60px;
}

.title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 30px;
	background-color: #990000;
	color: #FFFF66;
}

.header {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	background-color: #990000;
	color: #FFFF66;
}

a:hover {
	color: hotpink;
}

textarea {
	height: 100px;
	width: 600px;
	margin-left: 10px;
	overflow-y: scroll;
	resize: none;
	/* Remove this if you want the user to resize the textarea */
}

.textMode {
	margin-top:5px;
	margin-left: 25px;
	width: 150px;
	height: 20px;
	font-family: Arial;
	overflow-y: scroll;
	resize: none;
	/* Remove this if you want the user to resize the textarea */
}

p {
	margin-left: 2px;
}

h3 {
	margin-left: 45%;
}

#containerItems {
	display: inline-block;
	margin-top: 0px;
	border: 1px solid #000000;
	width: 900px;
	float: left;
	height: 500px; 	
}

#upperDiv {
	float: left;
	width: 800px;
	height: 50px;
}

#lowerDiv {
	float: left;
	margin-top:10px;
	width: 800px;
	height: 50px;
}

#form1 {
	background-color: #ff8409;
	margin-left: 10px;
	margin-right: 10px;
	height:480px;
}

.numbersPValues {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.meadianBox{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-left:10px;
}
#linkPara {
	color: white;
}

#btnCreate {
	margin-left: 50px;
	background-color: #00ff40;
	font-weight: bold;
	width: 100px;
}

select {
	width: 100px;
}

#dropdownEnch {
	margin-left: 5px;
}

#numGen {
	margin-left: 125px;
}

#genButtonP {
	margin-left: 150px;
}

.statsText {
	margin-left: 25px;
	width: 150px;
	height: 20px;
	font-family: Arial;
}

.spaceSpan{
	margin-left: 20px;
}
#meadianText {
	margin-left: 25px;
	height: 20px;
	width: 100px;
}

#maxText {
	margin-left: 30px;
	width: 100px;
}

#minText {
	margin-left: 48px;
	width: 100px;	
}

#stdText {
	margin-left: 25px;
}
#meanText{
	width: 100px;
}